<div class="google-play-badge">
	<a href="https://play.google.com/store/apps/details?id={{ .Get 0 }}">
		<img alt="Get it on Google Play" src="/images/google-play-badge.png" style="height: 70px"/>
	</a>
</div>