<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	{{ if .Description }}
	<meta name="description" content="{{ .Description }}" />
	{{ else }}
	<meta name="description" content="{{ .Site.Params.description }}" />
	{{ end }}

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="/css/fonts.css" type="text/css">
	<link rel="stylesheet" href="/css/style.css" type="text/css">

	<script type="text/javascript" src="/js/bleak-library.js"></script>

	{{ range .Params.scripts }}
	<script type="text/javascript" src="{{ . }}"></script>
	{{ end }}

	<script type="text/javascript">
	function resizeBody() {
		// fix background glitch when toolbar is hidden when user scrolls
		var newSize = document.documentElement.clientHeight + 60;
		if( newSize <= document.body.offsetHeight )
			document.documentElement.style.height = newSize + "px";
	}

	function onDocumentReady() {
		{{ if and ( .IsPage ) ( eq .Params.loadinglayer "auto" ) }}
		fade(document.getElementById("loadinglayer"));
		{{ end }}

		{{ if and ( .IsPage ) ( isset .Params "ondocready" ) }}
		{{ .Params.ondocready | safeJS }}();
		{{ end }}
	}
	</script>

</head>
<body onload="onDocumentReady();">

	<header>
		<a id="logo" href="/">
			<img src="/images/head.png" alt="Logo"/>
		</a>

	{{ if and (.IsPage) ( ne .Section "") }}
		<a href="..">Back to {{ lower ( index .Site.Params.sections ( lower .Section ) ) }}</a>
	{{ end }}
	</header>
