<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>{{ .Site.Title }}</title>
	<link href="css/home.css" rel="stylesheet" type="text/css" />
	<script src="js/slideshow.js"></script>
	<script>
		function initSlideshow(){
			var slideshow = new Slideshow(document.getElementById('head'), {{ .Site.Data.headfiles.files }}, 10000);
			setTimeout(function(){slideshow.start();},20000);
		}
	</script>
</head>
<body onload="initSlideshow()">
	<div id="presentation">
		<div id="slideshow">
			<div id="head"><noscript><img src="images/head.jpg" /></noscript></div>
		</div>
		<div>Hi&nbsp;!</div>
		<div>I am <strong id="name">Nicolas Dusart</strong>,</div>
		<div>
			humble engineer who loves <span class="electronics">electronics</span>,
			<span class="programming">programming</span>
			and <span class="diy">DIY&nbsp;projects</span>.
		</div>
	</div>
		
	<div id="links">
		<ul>
			<li class="github"><a href="https://github.com/ndusart">Fork my code on <span class="logo"><img src="images/github.png" alt="GitHub"/></span></a></li>
			<li class="linkedin"><a href="https://be.linkedin.com/pub/nicolas-dusart/51/628/493">Find me on <span class="logo"><img src="images/linkedin.png" alt="LinkedIn"/></span></a></li>
			<!--<li class="articles"><a href="/blog">Read my <span class="logo"><img src="images/articles.png" alt="articles"/>posts</span></a></li>-->
			<li class="tools"><a href="/tools">Use one of my <span class="logo"><img src="images/tools.png" alt="tools"/>tools</span></a></li>
			<li class="freedelity"><a href="https://www.freedelity.be">Take a look at <span class="logo"><img src="images/freedelity.png" alt="Freedelity"/></span></a></li>
		</ul>
	</div>
	
	<div id="contact">
		<a href="mailto:dusartnicolas@gmail.com">dusartnicolas@gmail.com</a>
		<a href="res/dusartnicolas.pgp">PGP public key</a>
	</div>
</body>
</html>
