@viewport
{
	width: device-width;
	zoom: 1;
}

html
{
	background-color: #f5f5f5;
}

body
{
	text-align: center;
	margin: 0px auto;
	font-family: 'Open Sans', sans;
	font-style:normal;
	font-weight:100;
	font-size:35px;
	line-height:1.4em;
	letter-spacing:1px;
	color:#333;
	-webkit-text-size-adjust:100%;
	text-rendering:optimizeLegibility;
	padding: 20px 0px;
	padding-top: 80px;
}

@media screen and (min-device-width: 500px)
{
	body {
		max-width: 800px;
		min-width: 485px;
	}
}

@media screen and (max-device-width: 500px)
{
	body {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 40px;
	}
}

li a
{
	text-decoration: inherit;
	color: inherit;
}

div
{
	text-align: left;
}

#presentation
{
	position: relative;
	top: 0;
	left: 0;
}

.electronics
{
	color: #4a4;
}

.programming
{
	color: #44a;
}

.diy
{
	color: #a44;
}

#slideshow
{
	position: absolute;
	top: -20px;
	right: -20px;
	width: 90px;
	height: 90px;
}

#head
{
	position: relative;
	width: 100%;
	height: 100%;
}

#slideshow img
{
	width: 100%;
	height: 100%;
	border-radius: 100%; /*circle shape*/
}

@media screen and (max-device-width: 500px)
{
	#slideshow {
		position: static;
		width: 70px;
		height: 70px;
		margin: auto;
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

.fade-in {
	opacity: 0;
	animation: fadeIn .8s ease-in 1 forwards;
}

@keyframes fadeOut {
	to {
		opacity: 0;
	}
}

.fade-out {
	opacity: 1;
	animation: fadeOut .8s ease-in 1 forwards;
}

#links
{
	display: inline-block;
	margin: 75px 0;
	color: #555;
	line-height:1.8em;
}

#links ul
{
	list-style-type: none;
	font-size: 0.9em;
	padding: 0;
	margin: 0;
}

#links img
{
	margin: 0 5px;
}

.logo
{
	display: inline-block;
}

li:hover .logo
{
	transition: all .2s ease-in-out;
	transform:scale(1.10,1.10);
}

.github img
{
	height: 0.9em;
	position: relative;
	bottom: -1px;
}

.github:hover
{
	color: #999;
}

.linkedin:hover
{
	color: #0077B5;
}

.linkedin img
{
	position: relative;
	bottom: -6px;
	height: 1.2em;
}

.articles:hover
{
	color: #FCD338;
}

.articles .logo
{
	color: #FCD338;
	font-weight: bold;
}

.articles img
{
	height: 1em;
	vertical-align: middle;
}

.tools:hover
{
	color: #FF2E2E;
}

.tools .logo
{
	color: #FF2E2E;
	font-weight: bold;
}

.tools img
{
	height: 1em;
	vertical-align: middle;
}

.freedelity:hover
{
	color: #07B;
}

.freedelity img
{
	height: 0.9em;
	position: relative;
	bottom: -1px;
}

#contact
{
	text-align: center;
	font-size: 0.5em;
}

#contact a
{
	display: block;
	text-decoration: none;
	color: #66a;
	transition: all .2s ease-in-out;
}

#contact a:hover
{
	transform:scale(1.10,1.10);
}
