@font-face{
	font-family: 'Merriweather Sans';
	font-style: normal;
	font-weight: 300;
	src: 	local("Merriweather Sans Light"),
		local("Merriweather-Sans-Light"),
		url("//fonts.gstatic.com/s/merriweathersans/v5/6LmGj5dOJopQKEkt88GowY_zIojJi0m4a5Z6tRh6itY.woff") format("woff"),
		url('/fonts/merriweather-light-webfont.woff2') format('woff2'),
                url('/fonts/merriweather-light-webfont.woff') format('woff');
}

@font-face{
        font-family: 'Merriweather Sans';
        font-style: normal;
        font-weight: 400;
        src:    local("Merriweather Sans Regular"),
                local("Merriweather-Sans-Regular"),
                url("//fonts.gstatic.com/s/merriweathersans/v5/AKu1CjQ4qnV8MUltkAX3sL2aU247V0zTzydO4RoO9Ok.woff") format("woff"),
		url('/fonts/merriweather-regular-webfont.woff2') format('woff2'),
		url('/fonts/merriweather-regular-webfont.woff') format('woff');
}

@font-face{
        font-family: 'Merriweather Sans';
        font-style: normal;
        font-weight: 700;
        src:    local("Merriweather Sans Bold"),
                local("Merriweather-Sans-Bold"),
                url("//fonts.gstatic.com/s/merriweathersans/v5/6LmGj5dOJopQKEkt88GowQfd-b-I5PxxcmB4_-MNcqw.woff") format("woff"),
		url('/fonts/merriweather-bold-webfont.woff2') format('woff2'),
                url('/fonts/merriweather-bold-webfont.woff') format('woff');
}

@font-face{
        font-family: 'Merriweather Sans';
        font-style: normal;
        font-weight: 800;
        src:    local("Merriweather Sans UltraBold"),
                local("Merriweather-Sans-UltraBold"),
                url("//fonts.gstatic.com/s/merriweathersans/v5/6LmGj5dOJopQKEkt88GowWT7sFQ1Iz1BbpcuCPlgc9Q.woff") format("woff"),
		url('/fonts/merriweather-ultrabold-webfont.woff2') format('woff2'),
                url('/fonts/merriweather-ultrabold-webfont.woff') format('woff');
}

@font-face{
        font-family: 'Merriweather Sans';
        font-style: italic;
        font-weight: 300;
        src:    local("Merriweather Sans Light Italic"),
                local("Merriweather-Sans-LightItalic"),
                url("//fonts.gstatic.com/s/merriweathersans/v5/nAqt4hiqwq3tzCecpgPmVX9UU5BmOJGkLxUCVv5VXdc.woff") format("woff"),
		url('/fonts/merriweather-lightit-webfont.woff2') format('woff2'),
                url('/fonts/merriweather-lightit-webfont.woff') format('woff');
}

@font-face{
        font-family: 'Merriweather Sans';
        font-style: italic;
        font-weight: 400;
        src:    local("Merriweather Sans Italic"),
                local("Merriweather-Sans-Italic"),
                url("//fonts.gstatic.com/s/merriweathersans/v5/3Mz4hOHzs2npRMG3B1ascf0KIgDhPIHb_R-SWdtqte8.woff") format("woff"),
		url('/fonts/merriweather-italic-webfont.woff2') format('woff2'),
                url('/fonts/merriweather-italic-webfont.woff') format('woff');
}

@font-face{
        font-family: 'Merriweather Sans';
        font-style: italic;
        font-weight: 700;
        src:    local("Merriweather Sans Bold Italic"),
                local("Merriweather-Sans-BoldItalic"),
                url("//fonts.gstatic.com/s/merriweathersans/v5/nAqt4hiqwq3tzCecpgPmVYM8pfYvjMoOxygpzLVILAs.woff") format("woff"),
		url('/fonts/merriweather-boldit-webfont.woff2') format('woff2'),
                url('/fonts/merriweather-boldit-webfont.woff') format('woff');
}

@font-face{
        font-family: 'Merriweather Sans';
        font-style: italic;
        font-weight: 800;
        src:    local("Merriweather Sans UltraBold Italic"),
                local("Merriweather-Sans-UltraBoldItalic"),
                url('/fonts/merriweather-ultrabdit-webfont.woff2') format('woff2'),
                url('/fonts/merriweather-ultrabdit-webfont.woff') format('woff');
}

