@viewport
{
	width: device-width;
	zoom: 1;
}

html
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-image: url("/images/background.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

body
{
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Merriweather Sans', sans;
	background-color: rgba(0, 0, 0, 0.4);
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	align-items: center;
	flex-direction: column;
}

#loadinglayer
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 98;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
}
#loadinglayer #loading
{
	position: absolute;
	top:50%;
	left:50%;
	margin-left: -100px;
	margin-top: -175px;
	text-align: center;
	line-height: 2em;
	font-weight: bold;
	font-size: 1.3em;
	color: white;
}

#needjs
{
	position: relative;
	z-index: 99;
}

.warning
{
	color: #800;
	background-color: #fbb;
	border: 1px solid #d99;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}
.warning:empty{
	display: none;
}

header
{
	display: flex;
	flex-direction: row;
	background-color: white;
	width: 100%;
	align-items: center;
	box-sizing: border-box;
	padding: 10px;
}

header a
{
	text-decoration: none;
	color: black;
}

header a:hover
{
	text-decoration: underline;
	cursor: hand;
}

#logo
{
	text-decoration: none;
	cursor: hand;
	border: none;
	margin-right: 15px;
}

#logo img
{
	border: none;
	height: 40px;
	width: 40px;
	border-radius: 7px;
}

h1
{
	position: relative;
	color: white;
	margin-top: 50px;
	margin-bottom: 120px;
	text-align: center;
}

h1:after
{
	content: '';
	position: absolute;
	height: 1px;
	width: 60%;
	margin-left: -30%;
	left: 50%;
	bottom: -.25em;
	background: #d4d5d9;
}

#list-container
{
	position: relative;
	flex: 1;
	background-color: #ddd;
	width: 100%;
	border-top: 4px solid #3c7;
}

#box-container
{
	margin-top: -40px;
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
	-moz-column-gap:20px;
	-webkit-column-gap:20px;
	column-gap:20px;
	padding: 10px 30px;
}

@media screen and (max-device-width: 400px)
{
	#box-container {
		-webkit-column-count: auto;
		-moz-column-count: auto;
		column-count: auto;
		-moz-column-gap: normal;
		-webkit-column-gap: normal;
		column-gap: normal;
	}
}

.box {
	display: block;
	padding: 15px;
	border-radius: 2px;
	margin-bottom: 50px;
	cursor: pointer;
	background: #fff;
	box-shadow: 0 0 0.3em black;
	transition: box-shadow .2s ease-in-out;
	text-decoration: none;
	color: black;
	break-inside: avoid-column;
	page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
}
.box:hover {
	box-shadow: 0 0 0.6em black;
}

.box .title {
	font-weight: bold;
	width: 100%;
	text-align: center;
	margin: 5px;
	margin-bottom: 15px;
}

.box p
{
	font-weight: lighter;
}

.box .platforms
{
	float: right;
}

.box .platforms img
{
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

#single-container
{
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: -50px;
	margin-bottom: 50px;
	width: 1100px;
	box-sizing: border-box;
	flex: 1;
	background-color: #ddd;
	border-radius: 6px;
	box-shadow: 0 0 2em black;
}

@media screen and (max-device-width: 1100px)
{
	#single-container {
		width: auto;
		margin-left: 25px;
		margin-right: 25px;
	}
}

.lastupdate
{
	font-weight: lighter;
	font-size: 0.7em;
	text-align: right;
}

#single-container .lastupdate
{
	margin: 5px;
	margin-top: 20px;
}

#content
{
	flex-grow: 1;
	display: block;
	padding: 25px;
}

#forkmeribbon
{
	float: right;
	margin-top: -25px;
	margin-right: -25px;
}

.google-play-badge
{
	height: 72px;
	text-align: center;
	margin: 25px;
}

.uploadfilecontainer
{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 10px auto;
	width: 225px;
	height: 50px;
	background-color: #8AF;
	transition: all .4s;
}

.uploadfilecontainer:hover
{
	background-color: #68D;
}

.uploadfilecontainer input
{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
}

.rotating {
	-webkit-animation-name: spinner;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 4s;
	animation-name: spinner;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 4s;
	width: 200px;
	height: 200px;
	margin: 50px;
}

/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
	from
	{
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(-360deg);
	}
} /* all other browsers */
@keyframes spinner {
	from {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to
	{
		-moz-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}
