{{ partial "header.html" . }}

<h1>
	{{ $title := ( lower .Title ) }}
	{{ if and (isset .Site.Params "sections") (isset .Site.Params.sections $title) }}
		{{ index .Site.Params.sections $title }}
	{{ else }}
		{{ .Title }}
	{{ end }}
</h1>

<div id="list-container">

<div id="box-container">
{{ range .Data.Pages.ByLastmod.Reverse }}
	<a class="box" href="{{ .RelPermalink }}">
		<div class="platforms">
			{{ $platforms := ( .Site.Data.platforms ) }}
			{{ range .Params.platforms }}
				<img src="/images/platforms/{{ . }}.png" alt="{{ index $platforms . }}" title="{{ index $platforms . }}"/>
			{{ end }}
		</div>
		<div class="title">{{ .Title }}</div>
		<p>
			{{ if isset .Params "description" }}
				{{ index .Params "description" }}
			{{ else }}
				{{ .Summary }}
			{{ end }}
		</p>
		<div class="lastupdate">Last update: {{ .Lastmod.Format "3 Jan 2006" }}</div>
	</a>
{{ end }}
</div>

</div>

{{ partial "footer.html" . }}
