{{ partial "header.html" . }}

<h1>
	{{ .Title }}
</h1>

<div id="single-container">
	{{ if and ( .IsPage ) ( isset .Params "loadinglayer" ) }}
		<div id="loadinglayer">
			<div id="loading">
				<img class="rotating" src="/images/loading.png"/><br/>
				Loading...
			</div>
		</div>
	{{ end }}

	{{ if and ( .IsPage ) ( eq .Params.needjs "true" ) }}
		<div class="warning" id="needjs">
			<strong>Javascript is disabled.</strong><br/>
			This page use javascript to function.<br/>
			Please enable javascript (at least for this domain: www.ndusart.be) to enjoy all the features.
		</div>

		<script type="text/javascript">
			document.getElementById("needjs").style.display = "none";
		</script>
	{{ end }}

	<div id="content">
		{{ if isset .Params "github" }} {{ partial "forkme.html" .Params.github}} {{ end }}

		{{ .Content }}
	</div>

	<div class="lastupdate">Last update: {{ .Lastmod.Format "3 Jan 2006" }}</div>

</div>

{{ partial "footer.html" . }}
